@font-face {font-family:Junction;src:url(Junction.ttf);}

* {margin:0; padding:0;}

body {background:url(../images/noise.jpg) repeat; font-family:junction; font-size:12px;}

a {outline:none; text-decoration:none;}

h1, h2, h3 {font-weight:normal;}

img {border:0;}

.clearfloat {clear:both;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

#taskbar {background:#393939; padding:11px; }
#alexis {float:left;}
#taskbar_nav {float:right; color:#fff !important; margin-top:5px; font-size:11px;}
#taskbar_nav * {margin:0 5px;}
#taskbar_nav a {color:#fff;}

#card_wrapper {background:url(../images/cardShadow.png) no-repeat bottom center; padding-bottom:15px; width:505px; margin:10% auto}
#card_top_shadow {background:url(../images/cardShadow.png) top center; padding-top:5px;}
#card_background_wrapper {background:#fff; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0 3px 3px #838383; -webkit-box-shadow:0 3px 3px #838383}
#card {height:300px; -moz-border-radius:5px; -webkit-border-radius:5px}

ul {list-style:none;}

#name {margin-bottom:20px;}
#title {color:#444; margin:10px 0;}
#contact_info li {margin:5px 0;}

#profile {background:#444; color:#fff; text-transform:uppercase; padding:4px 9px; position:absolute; top:0; right:200px; font-family:Helvectica,Arial; font-size:11px; cursor:pointer;}
#profile_leaf {display:none;width:300px; position:absolute; top:22px; right:81px}
#profile_leaf_tip {display:block; margin:0 auto;}
#profile_leaf_inner {background:#000; padding:10px; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0 2px 2px #999; -webkit-box-shadow:0 2px 2px #999}
#profile_leaf p {margin-bottom:5px; color:#fff; font-family:Helvectica,Arial;}
#profile_leaf #profile_photo {width:70px; border:5px solid #fff; float:left; margin-right:15px; -moz-box-shadow:0 1px 1px #333;}
#profile_name {font-weight:bold; font-size:17px}
#profile_leaf a {color:#fff}
#profile_details {float:left; width:180px}
#profile_about {line-height:18px;}

#social_networks {margin-top:20px;}
#social_networks .network_icon {margin-right:5px}