* {margin:0; padding:0}

h1, h2, h3 {margin-bottom:20px; font-weight:normal; color:#AA0000}

body {font-family:Helvectica, Lucida Grande, Arial; font-size:12px; color:#444}

a {outline:none; text-decoration:none; color:#b73a13; cursor:pointer}

img {border:0;}

label {display:block; margin-bottom:7px; font-size:17px}

ul {list-style:none}

.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfloat:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.textbox {-moz-border-radius:5px; -moz-box-shadow: 0 3px 3px #706751 inset; background:#d9cdb2; border-color: -moz-use-text-color -moz-use-text-color #FFF8E8; border-style: none none solid; border-width: medium medium 2px;
color: #453000; font-family: Helvetica,Arial,sans-serif; font-size:17px; line-height:17px; margin: 5px 0 0; padding: 15px; width:600px;}

.session_form {margin:60px auto; width:400px; padding:0 53px 50px; background:#fff; -moz-box-shadow:0 1px 2px #999; -moz-border-radius:5px;}
.session_form_inner {margin-top:30px; background:#efe4ba; padding:32px; -moz-box-shadow:0 0 1px #444 inset; -moz-border-radius:5px;}
.session_form .textbox {width:302px;}
.session_form label {color:#444;}
.form_row {margin-bottom:35px;}

.result_success {background:#dcf3b8; padding:10px; color:#83ab44; margin:20px 0; border:1px solid #83ab44;}
.result_error {margin:20px 0}
.result_error li {margin:10px 0; list-style:none; color:#b00000; font-size:12px;}

.item_list li {overflow:hidden; padding:4px 4px 4px 0; margin-bottom:15px}

.vanilla_region {-moz-border-radius:7px; background:#e4ddce; padding:30px; -moz-box-shadow:0 2px 2px #706751 inset}
.beige_region {background:#efeadf; padding:30px}
.black_region {background:url(../images/blackTransparent.png) repeat; padding:20px}
.black_region .header {color:#fff;}
.blue_region {background:#fbe9c5; background:#d0deec; padding:30px; margin:0 0 40px; -moz-border-radius:4px; -webkit-border-radius:4px; -moz-box-shadow:0 1px 1px #96acb9 inset; border-bottom:1px solid #fff;}
.white_region {background:#fff; border: 1px solid #b8b1a1; padding:5px}
.left {float:left; width:500px;}
.options {float:right; width:300px;}
.action_link {float:right; margin-left:20px; display:block; width:16px; height:16px; text-indent:-9999px; padding:6px; -moz-border-radius:6px; -webkit-border-radius:6px; -moz-box-shadow:0 1px 2px #222; -webkit-box-shadow:0 1px 2px #222;}
.edit {background:#fff url(../images/pencil_16.png) no-repeat center}
.delete {background:#fff url(../images/delete_16.png) no-repeat center}
.viewlive {background:#fff url(../images/search_16.png) no-repeat center}
.analytic {background:#fff url(../images/statistics_16.png) no-repeat center}

.browser_icon {float:left; margin-right:20px;}
.percentage {float:left; font-size:20px; margin-top:10px;}
.version_distribution {font-size:15px; padding-left:68px !important;}
.version {margin-bottom:10px;}

.card_name {color:#111; font-size:16px; margin-top:3px; display:inline-block}
.card_last_updated {margin:10px 0}

.user_image {-moz-box-shadow:0 2px 5px #444; -webkit-box-shadow:0 2px 5px #444; border:8px solid #FFFFFF}

.red_btn {-moz-border-radius:4px; -moz-box-shadow: 0 1px 1px #F34217 inset, 0 1px 1px #332300; background: -moz-linear-gradient(center bottom , #690900 0%, #8F0E00 45%, #A41200 46%, #CF1900 100%) repeat scroll 0 0 #C40000;
border: 1px solid #A1100A; color: #FFFFFF; cursor: pointer; display: inline-block; font-family: Helvetica,Arial,sans-serif; font-size:16px; font-weight:bold; margin-top: 10px; padding:10px 15px; text-shadow: 0 -1px 1px #250300;}
.green_btn {-moz-border-radius:4px; -moz-box-shadow: 0 1px 1px #4a6405 inset, 0 1px 1px #4a6405; background: -moz-linear-gradient(center bottom , #759817 0%, #739615 39%, #6c881f 60%, #637f19 100%) repeat scroll 0 0 #485d10;
border: 1px solid #4a6405; color: #FFFFFF; cursor: pointer; display: inline-block; font-family: Helvetica,Arial,sans-serif; font-size:16px; font-weight:bold; margin-top: 10px; padding:10px 15px; text-shadow: 0 -1px 1px #250300;}
.blue_btn {-moz-border-radius:4px; -moz-box-shadow: 0 1px 1px #F34217 inset, 0 1px 1px #332300; background: -moz-linear-gradient(center bottom , #2b87ef 0%, #2b78ce 45%, #1f5b9f 46%, #194372 100%) repeat scroll 0 0 #194372;
border: 1px solid #A1100A; color: #FFFFFF; cursor: pointer; display: inline-block; font-family: Helvetica,Arial,sans-serif; font-size:16px; font-weight:bold; margin-top: 10px; padding:10px 15px; text-shadow: 0 -1px 1px #250300;}

.concern {color:#444;font-size:12px;text-decoration:underline; cursor:pointer;}

.close_overlay {position:absolute; top:-12px; right:-12px; cursor:pointer;}

.overlay_modal {-moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow: 0 1px 4px #333; -webkit-box-shadow:0 1px 4px #333; background:#fff; left: 50%; margin-left: -190px; padding: 15px;
position: fixed; top: 200px; width: 350px; z-index: 9999;}

.overlay_modal .section {background:#F9E4C2; border: 2px dashed #B28846; cursor: pointer; margin: 5px 0; padding: 7px;}

.color_choice {cursor:pointer; width:80px; height:75px; display:block; float:left; margin-right:12px; border:5px solid #fff; -moz-border-radius:5px; -webkit-border-radius:5px; -moz-box-shadow:0 1px 3px #333; -webkit-box-shadow:0 1px 3px #333;}

#alert {background:#fff; padding:15px; font-size:20px; position:absolute; top:0; left:0; right:0; z-index:9001; text-align:center;}

#overlay {background:#000000; height: 100%; left: 0; opacity: 0.4; position: fixed; top: 0; width: 100%; z-index: 8000;display:none;}

/* Signup */
#home, #signup, #login {background:url(../images/noise.jpg) repeat;}
#signup_ribbon {position:relative; left:-149px; top:0}

/* Home */

/* Dashboard */
#taskbar {background:#393939; padding:11px 30px}
#taskbar_divider {background:url(../images/taskbarDivider.png) repeat-x; height:5px; border-bottom:1px solid #939393}
#alexis {float:left;}
#taskbar_nav {float:right; color:#fff !important; margin-top:3px}
#taskbar_nav * {margin:0 5px;}
#taskbar_nav a {color:#fff;}
#stage {padding:30px;}
#mycards_list {margin-bottom:20px}

.gallery {width:800px; background:#fff; padding:10px; -moz-border-radius:5px; -moz-box-shadow:0 6px 46px #444; position:fixed; top:50%; left:50%; margin-left:-410px; margin-top:-280px; z-index:8004;}
.gallery_inner {background:#E4E9D0; padding:20px; text-align:center; height:500px; overflow:auto;}
#theme_gallery .theme_preview {margin:15px; -moz-box-shadow:0 1px 1px #555; -webkit-box-shadow:0 1px 1px #555; cursor:pointer;}
#select_theme {margin-top:0;}