#card_background_wrapper {padding:0 0 15px 0}
#card {background:#fff url(../../images/geography/geography.png) no-repeat 31px 55px}
#card_info {padding-top:53px; width:305px; float:right; margin-right:20px;}
#name {font-family:Junction; font-size:22px; color:#058ee6}
#title {margin-bottom:25px; font-size:14px; color:#555}

#contact_info li {color:#555; margin:10px 0}
a {color:#555}